# Maven
target/
*.jar
*.war
*.ear

# Logs
logs/
*.log

# IDE
.idea/
*.iml

# Docker
docker-compose.yml
newrelic/
prometheus.yml
grafana-storage/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
